<!DOCTYPE <html>
<html>
<head>
  <title>Careers Website</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
</head>
<body>
<div class="container">
<h1>CareerConnect</h1>
  <img src="{{ url_for('static', filename='img01.jpg') }}" height=320 alt="banner">
  <h2>
    About CareerConnect
  </h2>
<p>Introducing "CareerConnect," your gateway to a world of professional possibilities. Navigating the intricate landscape of career choices has never been easier. Whether you're a seasoned professional seeking new horizons or a recent graduate ready to embark on your professional journey, CareerConnect is your trusted companion.</p>
  <h2>Job openings</h2>
  <div>
    <h3>
      Data Analyst
    </h3>
    <p>Bengaluru, India</p>
    <button type="button">Submit</button>
  </wrapper>
</div>
  <div>
      <h3>
        Data Scientist
      </h3>
      <p>Delhi, India</p>
      <button type="button">Submit</button>
    </wrapper>
  </div>
  <div>
      <h3>
        ML Engineer
      </h3>
      <p>Remote</p>
      <button type="button">Submit</button>
    </wrapper>
  </div>
</body>
</html>